@import "../../../../styles";

.link-icon-container {
  position: absolute;
  background-color: unset;
  z-index: 1;
  right: -8px;
  top: -24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.link-icon-container-embedded {
  position: relative;
  display: inline-block;
  background-color: unset;
  justify-content: flex-end;
}

.icons-flicker .in-text-icon-button {
  animation: iconPulse 400ms ease-out;
}

@keyframes iconPulse {
  0%   { transform: scale(1);   filter: brightness(1); }
  35%  { transform: scale(1.5); filter: brightness(1.5); }
  100% { transform: scale(1);   filter: brightness(1); }
}
