<div class="outgoing-verweise-per-manuscript">
  <app-steckbrief *ngIf="displaySteckbrief" [selectedCarrier]="selectedCarrier"/>
  <div class="header-line">
    <h3 class="subtitle" *ngIf="selectedCarrier && selectedCarrier?.hasOutgoingVerweis">Verweise in dieser Handschrift</h3>
    <h3 class="subtitle" *ngIf="selectedCarrier && !selectedCarrier.hasOutgoingVerweis">In dieser Handschrift sind keine Verweise enthalten</h3>
    <div *ngIf="isAuthenticated">
      <!-- checkbox to include Erwaehnungen -->
      <mat-checkbox
        matTooltip="* Erwähnungen beziehen sich auf bloße Nennungen von Texten in rekonstruierbaren Textträgern, ohne spezifische Stellenangabe"
        [checked]="highlightErwaehnungen$ | async"
        (change)="onIncludeErwaehnungenChange($event.checked)"
      >Erwähnungen anzeigen
      </mat-checkbox>
    </div>
  </div>
  <app-outgoing-verweise-list
    class="scroll-container" [loading]="loading" [texts] = "texts || []" [highlightErwaehnungen]="(highlightErwaehnungen$ | async) || false" (verweisSelected)="onVerweisSelected($event)"/>
</div>
