::ng-deep .mat-mdc-form-field-subscript-wrapper {
  max-height: var(--margin-small) !important;
  margin: 0 !important;
  padding: 0 !important;
  visibility: hidden !important;
}


.take-full-width {
  width: 100%;
}
