<div class="mat-elevation-z8">
    <mat-drawer-container>
        <div class="search-bar">
                <mat-form-field class="wortlaut-filter">
                    <mat-label>Wortlaut-Filter</mat-label>
                    <input matInput (keyup)="applyWortlautFilter($event)" placeholder="Suchtext ..." />
                </mat-form-field>
              <app-table-filter [tableName]="'verweis'" (filterChange)="onFilterChange($event)"></app-table-filter>
            <div class="settings-button-bar">
                <button
                        mat-icon-button
                        (click)="openColumnSettingsDialog()"
                        matTooltip="Spalten auswählen"
                >
                    <mat-icon>settings_ethernet</mat-icon>
                </button>
                <button
                        mat-icon-button
                        class="primary-variant"
                        *ngIf="isDrawerClosed"
                        (click)="toggleAdvancedFilterDrawer()"
                        matTooltip="Erweiterte Filter"
                >
                    <mat-icon>settings</mat-icon>
                </button>
             </div>
        </div>

      <div class="result-table-container">
            <table id="verweis-table" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!-- Loop through all headers to generate columns -->
                <ng-container *ngFor="let col of columns$ | async" [matColumnDef]="col.column">

                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header">
                        <div>{{ col.displayedName }}</div>
                    </th>
                    <td
                            mat-cell
                            *matCellDef="let element"
                            (click)="selectRow(element)"
                            [ngClass]="{ 'selected-row': selectedRow === element }"
                            class="table-cell"
                    >
                        <!-- Conditional rendering for "srcBelegstelleText" column -->
                        <ng-container *ngIf="col.column === 'srcBelegstelleText'" style="display: flex;">
                            {{ element[col.column] }}
                            <app-verweis-link-icon-component
                                    [displayedAgent]="'incoming'"
                                    [verweis]="element"
                                    [embed]="true"/>
                        </ng-container>
                        <!-- column text-->
                        <ng-container *ngIf="col.column === 'srcText'">
                            {{ element.srcTextObj?.title}}
                        </ng-container>
                        <ng-container *ngIf="col.column === 'srcTextAuthor'">
                            {{ element.srcTextObj?.author?.cognomen || ''}}
                        </ng-container>

                        <!-- Conditional rendering for "wortlaut" column -->
                        <ng-container *ngIf="col.column === 'wortlaut'">
                            <app-tei-render-component
                                    [teiXmlString]="element.wortlautTeiXml"
                                    [stringToHighlight]="stringsToHighlight"
                            ></app-tei-render-component>
                        </ng-container>

                        <!-- Rendering for "fulltitle" column -->
                        <ng-container *ngIf="col.column === 'targetCarFullTitle'">
                            <span>{{ element.targetCarObj?.fullTitle }}</span>
                            <span *ngIf="element.targetBelegstelleObj?.originalText">, </span>
                            <span>{{ element.targetBelegstelleObj?.originalText }}</span>
                            <app-verweis-link-icon-component
                                    [displayedAgent]="'outgoing'"
                                    [verweis]="element"
                                    [embed]="true"/>
                        </ng-container>
                        <ng-container *ngIf="col.column === 'targetTextAuthor'">
                            {{ element.targetTextObj?.author?.cognomen || ''}}
                        </ng-container>
                        <ng-container *ngIf="col.column === 'targetText'">
                            {{ element.targetTextObj?.title || ''}}
                        </ng-container>
                      <ng-container *ngIf="col.column === 'alternativePageId'">
                        {{ element.targetBelegstelleObj?.alternativePageId || ''}}
                      </ng-container>

                        <!-- Default rendering for other columns -->
                        <ng-container
                                *ngIf="
                  col.column !== 'srcBelegstelleText' &&
                  col.column !== 'wortlaut' &&
                  col.column !== 'targetCarFullTitle' &&
                  col.column !== 'srcText' &&
                  col.column !== 'srcCar' &&
                    col.column !== 'targetTextAuthor' &&
                    col.column !== 'srcTextAuthor' &&
                    col.column !== 'targetText'
                "
                        >
                            {{ element[col.column] }}
                        </ng-container>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="(displayedColumns$ | async) || ''"></tr>
                <tr mat-row *matRowDef="let row; columns: (displayedColumns$ | async) || '';"></tr>

            </table>
          <mat-progress-bar *ngIf="loading"mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="search-footer">
            <mat-paginator
              id="verweis-paginator"
                    [pageSizeOptions]="[10, 20, 50, 100]"
                    showFirstLastButtons
                    class="custom-paginator"
            ></mat-paginator>
            <button mat-raised-button (click)="exportToCsv()">Export</button>
        </div>
        <mat-drawer #advancedFilterDrawer mode="side" position="end" (openedChange)="onDrawerStateChange($event)">
          <button mat-raised-button class="close-button" color="primary" (click)="advancedFilterDrawer.close()">Schliessen</button>
          <app-advanced-verweis-filter (close)="advancedFilterDrawer.close()" />
          <app-null-filter
            (close)="advancedFilterDrawer.close()"
            [tableName]="'verweis'"
          />
        </mat-drawer>
    </mat-drawer-container>
</div>
