<div class="manuscript-compare">
  <div class="manuscript-compare-nav">
    <div>
      <h2>Stand Digitalisate</h2>
      <ul>
      <li>Total Digitalisate lokal: <span style="color: red">{{totalLocalOnlyPages.length}}</span> von {{totalPagesLen}}</li>
      <li>Total Digitalisate extern: <span style="color: green">{{totalExternalPages.length}}</span> von {{totalPagesLen}}</li>
      <li>Total Digitalisate zu überprüfen/matchen: <span style="color: red">{{totalPagesToCheck}}</span></li>

        <li *ngIf="(carriersWithImagesToCheck$ | async) as carriersWithLocalImg">
        <span>Noch zu überprüfende Hss.</span><span style="color: red"> {{carriersWithLocalImg.length}}</span>
        <span *ngIf="(existingCarriers$ | async) as allCarriers"> von total {{allCarriers.length}}</span>
      </li>
      </ul>
    </div>
    <mat-checkbox
      [checked]="(showOnlyToCheck$ | async)"
      (change)="onShowOnlyLocalChanged($event.checked)"
    >
      Nur noch zu überprüfende Hss.
    </mat-checkbox>
    <mat-checkbox
      [checked]="(showOnlyCorruptLocal$ | async)"
      (change)="showOnlyCorruptLocal$.next($event.checked)"
    >
      Nur defekte lokale in der Auswahl zeigen
    </mat-checkbox>

    <mat-checkbox
      [checked]="(showOnlyLowMatch$ | async)"
      (change)="showOnlyLowMatch$.next($event.checked)"
    >
      Nur Seiten unter 25%
    </mat-checkbox>

    <mat-checkbox
      [checked]="(showOnlyMissingExternal$ | async)"
      (change)="showOnlyMissingExternal$.next($event.checked)"
    >
      Nur fehlende externe
    </mat-checkbox>
    <mat-checkbox
      [checked]="(hideManuallyAdded$ | async)"
      (change)="hideManuallyAdded$.next($event.checked)"
    >
      manuell hinzugefügte und unibe ausblenden
    </mat-checkbox>
    <mat-divider style="margin-bottom: 0.5em"/>
    <div *ngIf="filteredCarriers$ | async as carriers">
      <app-info-carrier-select *ngIf="carriers && carriers.length > 0"
        [carriers]="carriers ?? []"
        [selectedCarrier]="(selectedCarrier$ | async) ?? carriers[0]"
        [label]="'Manuskriptauswahl'"
        (carrierSelected)="onManuscriptSelectionChange($event)"
      />
    </div>
    <div *ngIf="(selectedCarrier$ | async) as car">
        <div class="legende-header">
          <div class="manuscript-title">
            <div *ngIf="matchStatus$ | async as status" class="match-status">
              <h2 *ngIf="status === 'ok'" style="color: green">✔</h2>
              <h2 *ngIf="status === 'fail'" style="color: red">✘</h2>
            </div>
            <h3>Übersicht {{car.fullTitle}}</h3>
          </div>
          <div>
            <span>Link zum </span>
            <a [href]="car.externalDigitalisat?.thirdPartyLink" target="_blank" >Digitalisat</a>
            <span> der Bibliothek</span>
          </div>
        </div>
      <div style="margin-bottom: 0.5em; font-style: italic">id: {{car.id}}; man_id: {{car.dfId}};</div>
      <div *ngIf="pagesOfCarrier$ | async as carrierPages">
        <div class="carrier-pages">
          <b>{{carrierPages.length}}</b>
          <span> Digitalisate für diese Handschrift</span>
        </div>
        <div *ngIf="(localPages$ | async) as pages" >
          <b>{{pages.length}} lokale Bilder verwendet</b>
        </div>
        <div *ngIf="(corruptedButManuallyFixedPages$| async) as fixed" >
          <b *ngIf="(corruptedPages$ | async) as pages" [ngStyle]="{color: pages > fixed ? 'red' : 'green'}">{{pages.length}} defekte lokale Bilder!</b>
          <span *ngIf="(corruptedButManuallyFixedPages$| async) as fixed" style="color: green"> {{fixed?.length}} davon wurden manuell zugewiesen</span>
        </div>
        <div *ngIf="(externalIIIFPages$ | async) as iiifPages">
          <b [ngStyle]="{ color: iiifPages.length < carrierPages.length ? 'red' : 'green' }">
            {{ iiifPages.length }}
          </b>
          <span> externe IIIF Bilder verwendet</span>
        </div>
        <div *ngIf="(externalPages$ | async) as pages" >
          <b>
            {{ pages.length }}
          </b>
          <span> externe Bilder verwendet (u.U. kein wirklicher IIIF angeboten)</span>
        </div>
        <div *ngIf="(pagesWhichAreNotChecked$ | async) as pages" >
          <b>
            {{ pages.length }}
          </b>
          <span> Blätter sind noch zu matchen oder zu überprüfen</span>
        </div>
      </div>
      <mat-divider style="margin-top: 8px"></mat-divider>
      <div class="nav-buttons" *ngIf="filteredPagesOfCarrier$ | async as pages">
        <h2>Angezeigte Bilder ({{pages.length}} Stk.)</h2>
        <div >
          <app-blatt-select [pages]="pages"/>
        </div>
        <div>
          <button
            class="nav-button prev-button"
            [disabled]="manuscript.isOnFirstPage()"
            (click)="goPrevPage()"
            (keydown)="onKeyDown($event)"
          > <span>
                    <mat-icon class="nav-button-icon" [ngClass]="manuscript.isOnFirstPage() ? 'disabled' : 'interactive'">chevron_left</mat-icon>
                  </span>
          </button>
          <button
            class="nav-button next-button"
            [disabled]="manuscript.isOnLastPage()"
            (click)="goNextPage()"
            (keydown)="onKeyDown($event)"
          >
            <mat-icon class="nav-button-icon" [ngClass]="manuscript.isOnLastPage() ? 'disabled' : 'interactive'">chevron_right</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div id="blatt-text-field" class="blatt-text-field" *ngIf="displayedPages$ | async as displayedPages">
      <div *ngIf="displayedPages.length > 0">
        <div *ngIf="!displayedPages[0].isDisplayedAsSingleImage">
          <span>{{ displayedPages[0].pageText }}</span>
          <span *ngIf="displayedPages.length > 1"> / </span>
          <span>{{ displayedPages[1].pageText }}</span>
        </div>
        <span *ngIf="displayedPages[0].isDisplayedAsSingleImage">
                        <span>{{ displayedPages[0].pageText}}</span>
                    </span>
      </div>
    </div>
    <div class="compare-legende" *ngIf="(selectedCarrier$ | async) as selectedCarrier">
      <div class="legende-local osd-local">
        <h3>Lokale Bilder</h3>
        <ul *ngIf="local$ | async as local">
          <li *ngFor="let tile of local">
            Link: <a [href]="tile.localTileSource.url" target="_blank">{{tile.localTileSource.url}}</a>
          </li>
        </ul>
      </div>
      <div class="legende-external osd-external">
        <h3>Externe Bilder (IIIF)</h3>
        <div *ngIf="external$ | async as external">
          <div *ngFor="let tile of external">Info-json: <a [href]="tile?.iiifTileSource?.id" target="_blank">{{tile?.iiifTileSource?.id}}</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="manuscript-compare-viewer" *ngIf="(displayedPages$ | async) as pages">
    <!-- Local image with corrupt warning -->
    <div class="manuscript-compare-container osd-local">
      <div class="corner-label top-left" *ngIf="pages[0]?.localImgIsCorrupt">
        <mat-icon color="warn">error</mat-icon> defekt
      </div>
      <div class="corner-label top-right" *ngIf="pages[1]?.localImgIsCorrupt">
        <mat-icon color="warn">error</mat-icon> defekt
      </div>
      <app-osd-viewer [forceLocalTileSource]="true" />
    </div>

    <!-- External IIIF image with match % -->
    <div class="manuscript-compare-container osd-external">
      <div class="corner-label top-left" *ngIf="pages[0]?.autocomparedIiif"
           [ngStyle]="{
       color: pages[0].matchPercentage === 100 ? 'green' :
              pages[0].matchPercentage >= 75 ? 'blue' :
              pages[0].matchPercentage <= 50 ? 'red' : 'inherit'
     }">
        <mat-icon>compare</mat-icon> {{ pages[0].matchPercentage }} %
      </div>
      <div class="corner-label top-center-left" style="color: blue; font-weight: bold" *ngIf="pages[0]?.manuallyAddedIiif">
        <mat-icon>compare</mat-icon>manuell hinzugefügt
      </div>
      <div class="corner-label top-right-left" style="color: blue; font-weight: bold" *ngIf="pages[1]?.manuallyAddedIiif">
        <mat-icon>compare</mat-icon>manuell hinzugefügt
      </div>
      <div
        class="corner-label top-right"
        *ngIf="pages[1]?.autocomparedIiif"
        [ngStyle]="{
        color: pages[1].matchPercentage === 100 ? 'green' :
               pages[1].matchPercentage >= 75 ? 'blue' :
               pages[1].matchPercentage <= 50 ? 'red' : 'inherit'
      }"
      >
        <mat-icon>compare</mat-icon> {{ pages[1].matchPercentage }} %
      </div>
      <app-osd-viewer />
    </div>
  </div>
</div>
