.manuscript-compare {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.manuscript-compare-nav {
    width: 40%;
    height: 80vh;
    padding: 8px;
}

.manuscript-compare-viewer {
  width: 60%;
  height: 92vh;
  max-height: 92vh;
  display: flex;
  flex-direction: column;
}

.manuscript-compare-container {
  height: 45h !important;
  max-height: 45vh !important;
  margin: 4px;
  overflow: hidden;
}

.osd-local {
  border: 3px solid blue;
}

.osd-external {
  border: 3px solid lightgreen;
}

.manuscript-compare-container {
  position: relative; /* required for corner-label positioning */
}

.corner-label {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  z-index: 10;
  pointer-events: none; /* makes sure viewer interaction isn't blocked */
}

.top-left {
  top: 0.5rem;
  left: 0.5rem;
}

.top-center-left {
  top: 0.5rem;
  left: 30%;
}

.top-right-left {
  top: 0.5rem;
  left: 60%;
}

.top-right {
  top: 0.5rem;
  right: 0.5rem;
}

.manuscript-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.nav-button {
  align-items: center;
  cursor: pointer;
  width: 5em;
  height: 3em;
}

.legende-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.manuscript-title {
  display: flex;
}

.match-status {
  margin-right: 1em;
}

.legende-local {
  margin-bottom: 8px;
  padding: 8px;
}

.legende-external {
  padding: 8px;
}


