.browser-container {
    padding-top: var(--margin-small);
    height: 78vh;
    display: flex;
    flex-direction: column;
}

.growing-container {
    flex: 1; /* Takes up the remaining space */
    overflow-x: hidden;
}

.outgoing-verweise {
    display: flex;
    flex-direction: column;
    height: 72vh;
}

.quell-verweise-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

app-outgoing-verweise-per-manuscript {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.scroll-container {
    flex: 1; /* Takes up the remaining space */
    overflow-x: hidden;
    overflow-y: auto;
}
