.svg-container {
  margin-top: var(--margin-large);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 70vw;
  overflow: hidden;
}

svg {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
