<div class="main-container">
  <mat-tab-group
    [selectedIndex]="activeTabIndex"
    (selectedIndexChange)="onTabChange($event)"
    mat-stretch-tabs="true"
    mat-align-tabs="start"
  ><mat-tab label="Eingehende Verweise">
      <div class="info-container">
          <div *ngIf="!selectedCarrier">
              <h3 class="info-message">
                  <mat-icon class="info-icon">info</mat-icon>
                  <span>Durch Klick auf einen Knoten in der Visualisierung lassen sich Textträger auswählen, um deren Eigenschaften und Verweise hier anzuzeigen</span></h3>
          </div>
          <app-incoming-verweise-list
                  [infoCarrier]="selectedCarrier"
                  [texts]="textsWithIncomingVerweise"
                  (verweisSelected)="onIncomingVerweisClicked($event)"
          />
      </div>
  </mat-tab>
  <mat-tab label="Ausgehende Verweise">
      <div class="info-container">
          <div *ngIf="!selectedCarrier">
              <h3 class="info-message">
                  <mat-icon class="info-icon">info</mat-icon>
                  <span>Durch Klick auf einen Knoten in der Visualisierung lassen sich Textträger auswählen, um deren Eigenschaften und Verweise hier anzuzeigen</span></h3>
          </div>
          <app-outgoing-verweise-per-manuscript
                  [selectedCarrier]="selectedCarrier"
          />
      </div>
  </mat-tab>

    <mat-tab label="Einstellungen und Filter">
      <app-vis-data-interaction class="vis-data-tab"></app-vis-data-interaction>
    </mat-tab>
  </mat-tab-group>
</div>
