.steckbrief-toggle-button {
  color: var(--primary);
  margin-left: var(--margin-small);
  flex-shrink: 0;
}

.mat-mdc-card {
  box-shadow: None;
}

.mat-mdc-card-header{
  padding: 8px;
}

mat-expansion-panel-header {
  display: flex;
  width: 100%; /* Ensures the header takes full width */
  margin-left: var(--margin-small);
  padding-left: 0;
}

.steckbrief-header {
  margin-top: 0;
  height: 12vh;
  min-height: 12vh;
}

.steckbrief-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--title-color) !important;
}

.steckbrief-header-card {
  flex-grow: 1; /*  grow and take up available space */
}

.steckbrief-header-content {
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-card-header {
  padding-top: 0;
  margin-top:0;
}

mat-card-content {
  margin-top: 2%;
}

.steckbrief-divider {
  margin-top: 1em;
}

.steckbrief-entry {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.entry-topic {
  min-width: 17em;
  padding-right: 1em;
}

.benennung-gsmb{
  margin-bottom: 0.5em;
}


