<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="outgoing-verweise-container"
     id="outgoing-verweise-scroll-container"
     *ngIf="texts && !loading"
     appScrollIntoView #scrollDirective="scrollIntoView" [containerId]="'outgoing-verweise-scroll-container'">
    <div *ngFor="let t of texts; trackBy: trackById">
        <div class="sticky-wrapper">
            <h4 *ngIf="t.outgoingVerweise.length > 0" class="src-text-title sticky-title">
                <mat-icon class="text-icon">bookmark_outline</mat-icon>

                <span *ngIf="t.authorsCognomen">
                  <span *ngIf="!t.author?.linkToGnd">{{t.authorsCognomen}}: </span>
                  <span *ngIf="t.author?.linkToGnd" matTooltip="Autor #{{t?.author?.gndId}} in der Deutschen Nationalbibliothek öffnen"><a class="author-link" [href]="t?.author?.linkToGnd || ''" target="_blank">{{t.authorsCognomen}}</a>: </span>
                </span>
                <span>{{t.title}}</span>
                <span *ngIf="t.title && t.incipit">
                  <span class="text-title-incipit"> {{t.incipit}}</span>
                  <span *ngIf="t.additionalSource"> {{t.additionalSource}}</span>
                  <span *ngIf="t.textRange"> ({{t.textRange}})</span>
                </span>
            </h4>
        </div>
        <div *ngFor="let v of t.outgoingVerweise; trackBy: trackById">
            <div *ngIf="v.insecurity <=1 && displayWortlaut(v);" [ngStyle]="{'color': v.type === 'Erwaehnung' && this.highlightErwaehnungen ? 'red' : 'inherit'}" id="{{OUTGOING_PREFIX}}{{v.srcBelegstelle}}">
                <div *ngIf="(v.srcBelegstelleObj?.abschnitt && displayAbschnitt(v)) || closingAbschnitt(v)" class="abschnitt-container">
                  <hr class="abschnitt-line">
                  <div class="abschnitt-text">{{closingAbschnitt(v) ? 'Ohne Zuordnung' : v.srcBelegstelleObj?.abschnitt }}</div>
                  <div class="abschnitt-text" *ngIf="closingAbschnitt(v)">Ohne Zuordnung</div>
                  <hr class="abschnitt-line">
                </div>
                <mat-divider *ngIf="!displayAbschnitt(v) && !closingAbschnitt(v)&& displayPage(v)" class="blattangabe-divider"></mat-divider>
                <mat-divider *ngIf="!displayAbschnitt(v) && !displayPage(v) && !closingAbschnitt(v) && displayWortlaut(v)" class="verweis-divider"></mat-divider>
                <div *ngIf="v.srcBelegstelleObj" (click)="onVerweisClicked(v)" class='verweis-card' [ngClass]="{'selected-verweis': selectedVerweis?.srcBelegstelle === v.srcBelegstelle || selectedVerweis?.id === v.id }">
                    <div class="belegstelle">
                      <span *ngIf="displayPage(v)">{{v.srcBlattangabe || ''}}</span>
                    </div>
                    <div class="wortlaut">
                        <app-tei-render-component [teiXmlString]="v.wortlautTeiXml"></app-tei-render-component>
                    </div>
                    <div class="target-text">
                      <app-verweis-link-icon-component
                        *ngIf="v?.id === selectedVerweis?.id || selectedVerweis?.srcBelegstelle === v.srcBelegstelle"
                        [displayedAgent]="'outgoing'"
                        [verweis]="selectedVerweis"/>
                        <ng-container *ngIf="v.targetCarObj as car">
                            <div *ngIf="car.physicality === 'Available'">
                                <span *ngIf="v.isSelfTargeting">Interner Verweis: </span>
                                <div *ngIf="!v.isSelfTargeting && car.mainNamingGossembrot">
                                    {{ car.mainNamingGossembrot }} =
                                </div>
                                <div>
                                    <span>{{ car.fullTitle }}</span>
                                    <span *ngFor="let target of getOutgoingVerweiseOfSrcBelegstelle(v.srcBelegstelle); let i = index">
                                        <span>, </span>
                                        <span
                                                class="clickable"
                                                [class.highlight-verweis-blatt-on-hover]="getOutgoingVerweiseOfSrcBelegstelle(v.srcBelegstelle).length > 1" ]
                                                [class.selected-verweis-blatt]="selectedVerweis?.id === target.id && getOutgoingVerweiseOfSrcBelegstelle(v.srcBelegstelle) && getOutgoingVerweiseOfSrcBelegstelle(v.srcBelegstelle).length > 1"
                                                (mouseenter)="$event.stopPropagation()"
                                                (click)="$event.stopPropagation(); $event.preventDefault(); onVerweisClicked(target)">
                                            {{ target.targetBlattangabe }}
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div *ngIf="car.physicality && car.physicality !== 'Available'">
                                <span>{{ car.fullTitle }} </span>
                                <span>({{ car.getCarrierTypeDescDeLowerCased() }})</span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
