.osd-container {
  width: 100%;
  height: 100%;
  min-height: 500px !important;
  min-width: 500px !important;
  background-color: var(--osd-background);
  // round edges
  border-radius: 10px;
  overflow: hidden;
}

.loading-indicator {
  position: absolute;
  bottom: 1%;
  z-index: 100;
  display: flex;
  justify-content: center;
  width: 100%;
}

.loading-indicator mat-progress-bar {
  width: 98%;
}
