.app-frame {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-header {
  flex: 0 0 auto;
}

.content {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-left: var(--margin-small);
}

app-incoming-verweise-menu {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

// passed to the VerweisViewComponent via DialogConfig, so used, but not used in a template
.verweis-view-dialog {
  width: 85vw !important;
  height: 90vh !important;
  position: fixed !important;
  margin: 0 !important;
  border-radius: 12px;
  overflow: hidden !important;
  background-color: var(--mat-app-background-color);
}

