@import "../../../../styles";

.quell-verweise-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-steckbrief {
  margin-right: var(--margin-small);
}

.mat-mdc-form-field-subscript-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  max-height: 0 !important;
}

.quell-verweise-header {
  color: var(--title-color);
}

.scroll-container {
  flex: 1; /* Takes up the remaining space */
  overflow-x: hidden;
  overflow-y: auto;
}

.sticky-title {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--mat-app-background-color);
  padding: 10px 0;
}

.text-icon {
  vertical-align: bottom;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.reconstructed-text-title {
  margin-left: 1em;
}

.target-text-divider {
  margin-top: 1%;
  border-top-width: 3px !important;
}

.verweis-card {
  display: flex;
  cursor: pointer;
  border-radius: 12px;
  transition: transform 0.1s ease-in-out, background-color 0.15s ease-in-out;
}

.verweis-card:hover {
  background-color: var(--surface-highlight-active);
  transform: scale(0.98);
}

.selected-verweis {
  background-color: var(--surface-highlight-active);
  transform: scale(0.98);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.blattangabe {
  min-width: 13%;
  max-width: 13%;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.blattangabe-divider {
  margin-left: 2%;
  margin-right: 2%;
}

.abschnitt-container {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: 6em;
  margin-right: 6em;
  color: grey;
}

.abschnitt-text {
  font-style: italic;
  font-weight: bold;
  white-space: nowrap;
}

.abschnitt-line {
  flex: 1;
  border: none;
  border-top: 1px solid currentColor;
  margin: 0;
  height: 0;
}

.verweis-divider {
  margin-left: 19%;
  margin-right: 2%;
}

.belegstelle {
  width: 35%;
  max-width: 35%;
  min-width: 35%;
  padding-right: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.belegstellen-text {
  width: 95%;
}

.wortlaut {
  flex-grow: 5;
  padding-right: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}
