<div class="erl meta-text">
  <h2 class="title">Erläuterungen und Glossar Datenbank Gossembrot</h2>

  <strong class="margin-top">
    Stand: 23. Juli 2025
  </strong>
  <p class="margin-top">In der obersten Zeile können neben dem Symbol der Startseite (Haus) die Rubriken ‚Erhaltene Handschriften‘, ‚Rekonstruierte Textträger‘, ‚Kanonische Werke‘ und ‚Visualisierungen‘ ausgewählt werden. Erläuterungen finden sich in den unterlegten Tooltips. Am rechten Rand lässt sich über das Mond- bzw. Sonnensymbol der Bildschirmhintergrund anpassen.</p>

  <h3 class="subtitle margin-top">Erhaltene Handschriften:</h3>
  <p>Auf der linken Seite stehen Angaben zu den bisher bekannten erhaltenen Handschriften der Gossembrot-Bibliothek: Im Menü ‚Manuskriptauswahl‘ können die einzelnen Handschriften angezeigt werden.</p>
  <p>Unterhalb der Manuskriptauswahl steht eine kurze kodikologische Beschreibung der Handschrift (Beschreibstoff, Gröẞe, Entstehungszeitraum, Lagenstruktur).</p>
  <p>Anschließend sind alle in der ausgewählten Handschrift enthaltenen Verweise aufgeführt. Aufgeführt werden jeweils Blatt-Angabe, Wortlaut sowie die Zielstelle der Verweise auf erhaltene und verschollene Textträger.</p>
  <p>Verweise auf Stellen innerhalb der Handschrift sind durch die Angabe ‚Interner Verweis‘ eingeleitet. Durch Klick auf den Verweis wird im danebenstehenden Digitalfaksimile das entsprechende geöffnete Doppelblatt aufgerufen. Nach Anklicken eines Verweises, stehen die folgenden Optionen zur Verfügung: Detailansicht (Quelle, Verweistext, Ziel); Weiterleitung zur Verweis-Synopse; Öffnen der Zielhandschrift.</p>
  <p>Auf der rechten Seite finden sich Angaben zu dem aktuell angezeigten Abschnitt der Handschrift:</p>
  <p>Unter ‚Textauswahl-Textanzeige‘ sind die einzelnen Texte der Handschrift erreichbar; über die links und rechts neben der ‚Textauswahl-Textanzeige‘ angezeigten Pfeile ist ein Wechsel zum vorangehenden oder folgenden Text möglich. Die ‚Verweisauswahl‘ zeigt die Seiten an, auf denen sich von Gossembrot eingetragene Verweise befinden.</p>
  <p>Unterhalb der Text- und Verweisauswahl befindet sich die im Digitalfaksimile aufgeschlagene Doppelseite der Handschrift, eingeleitet durch eine Anzeige der Lagenstruktur, Blattangaben sowie die Möglichkeit der Blattauswahl.</p>
  <p>In den Lagensymbolen sind fehlende Blätter einer Lage mit einer verkürzten Linie (Stummel) dargestellt. Gestrichelte Linien kennzeichnen Lagen, die aus mindestens zwei verschiedenen Teilen zusammengesetzt sind und somit ursprünglich keine Einheit bildeten.</p>
  <p>In den Digitalfaksimiles kann über das Anklicken der eingeblendeten Pfeile oder über die Bedienung der Pfeiltasten (links bzw. rechts) vorwärts und rückwärts geblättert werden.</p>

  <h3 class="subtitle margin-top">Rekonstruierte Textträger:</h3>
  <p>Hier stehen drei Kategorien zur Auswahl: Handschriften aus Gossembrots Bibliothek, Handschriften außerhalb Gossembrots Bibliothek und Drucke aus Gossembrots Bibliothek.</p>
  <p>Ein Auswahlmenü ermöglicht die Selektion der einzelnen rekonstruierten Textträger.</p>
  <p>Darunter befindet sich eine kurze kodikologische Beschreibung des Textträgers nach Gossembrots Angaben (Materialität, Benennung nach Gossembrot).</p>
  <p>Anschließend sind jene Verweise Gossembrots aufgeführt, die sich auf den Inhalt des rekonstruierten Textträgers beziehen. Beim Anklicken der einzelnen Verweistexte wird die jeweilige Handschriftenseite angezeigt, die den Verweis enthält. Nach Anklicken eines Verweises, stehen zudem die folgenden Optionen zur Verfügung: Detailansicht (Quelle, Verweistext, Ziel); Weiterleitung zur Verweis-Synopse; Öffnen der Beleg-Handschrift in einem neuen Tab.</p>

  <h3 class="subtitle margin-top">Kanonische Werke:</h3>
  <p>Hier sind Gossembrots Verweise auf bekannte oder weit verbreitete Texte zusammengetragen, für die sich kein einst vorhandenes physisches Exemplar erschließen lässt (Texte, die Gossembrot ‚im Kopf‘ hatte oder in fremden Bibliotheken konsultierte). Der weitere Seitenaufbau entspricht jenem der rekonstruierten Textträger.</p>

  <h3 class="subtitle margin-top">Visualisierungen:</h3>
  <p>Die durch die Querverweise hergestellten Verbindungen zwischen den einzelnen Handschriften und ihren Inhalten können anhand der hier eingebunden Netzwerkdiagramme optisch angezeigt werden. Es stehen mehrere Filteroptionen zur Verfügung:</p>
  <ul>
    <li><strong>Granularität der Anzeige:</strong> Erlaubt die Wahl, Verbindungen zwischen Textträgern, Texten oder Textträgern und Texten anzuzeigen. Je nach Auswahl repräsentieren die einzelnen, links eingeblendeten Punkte Textträger und/oder Texte. Pfeile, die die einzelnen Punkte miteinander verbinden, repräsentieren die Querverweise. Ihre Richtung gibt an, ob es sich um ausgehende oder eingehende Verweise handelt. Die Anzahl der Verweise, die von einem Text(träger) auf einen anderen zielen, wird durch die Größe der Pfeile angedeutet. Je mehr Verweise von einem Punkt auf den anderen zielen, desto dicker erscheint der Pfeil.</li>
    <li><strong>Detailfilter:</strong> Ermöglicht die Auswahl einzelner Textträger.</li>
    <li><strong>Globale Filter:</strong> Angebot weiterer Filteroptionen nach Bestand (aus Gossembrots Bibliothek oder externe Textträger), Beschaffenheit (Handschrift, Druck, Kanonisches Werk) und Verfügbarkeit (erhaltene oder verlorene Textträger).</li>
  </ul>

  <h3 class="subtitle margin-top">Kodikologische Angaben in Gossembrots Terminologie</h3>
  <ul>
    <li><strong>arcus modus:</strong> Bezeichnet das Folio-Format. Beispiel: München, Bayerische Staatsbibliothek, Clm 17836, Format 26,8 x 20,7 cm, Benennung durch Gossembrot: ‚Albus codex spissus arcus modus in Didascalicon et aliis operibus‘ (nach München, Bayerische Staatsbibliothek, Clm 3559, Bl. 2r).</li>
    <li><strong>textus modus:</strong> Bezeichnet das Quart-Format. Beispiel: München, Bayerische Staatsbibliothek, Clm 27419, Format 21 x 14,5 cm, Benennung durch Gossembrot: ‚Liber albus spissus confessionalis textus modus‘ (nach München, Bayerische Staatsbibliothek, Clm 3941, Bl.14r).</li>
    <li><strong>modus regalis:</strong> Bezeichnet das große Folio-Format.</li>
    <li><strong>karta:</strong> Gossembrot bezeichnet die Blätter in der Regel mit <span class="cite">karta</span>. Aus Verweisen auf erhaltenen Handschriften geht hervor, dass sich  <span class="cite">karta</span> dabei auf die aufgeschlagene Doppelseite und damit auch auf die vorausgehende verso-Seite bezieht. Beispiel: München, Bayerische Staatsbibliothek, Clm 3941, Bl. 44v:  <span class="cite">Eloq(uentia) q(uomodo) (com)p(ar)a(tur) nauigat(i)o(n)i (et) m(er)cancie vide | an(tea) a k(arta) .29.</span> [Signum], zielt auf: München, Bayerische Staatsbibliothek, Clm 3941, Bl. 28v, wo das im Verweis genannte Signum zu finden ist.</li>
  </ul>

  <!--
  <h3 class="subtitle margin-top">Nennungen:</h3>
  <p>Gossembrot benennt die einzelnen Bücher seiner Bibliothek oft nach den in diesen enthaltenen (Haupt-)Texten. Wenn ein Verweis nicht auf eine Stelle in diesen Texten zielt, wird dieser Verweis zusätzlich als Nennung aufgenommen. Für nicht erhaltene Textträger lassen sich aus derartigen Nennungen in den Verweistexten neben den genannten Zieltexten oft weitere Inhalte rekonstruieren. In der Datenbank sind diese Rekonstruktionen mit dem Zusatz <em>(Nennung)</em> gekennzeichnet.</p>

  <h3 class="subtitle margin-top">Nennungen anzeigen:</h3>
  <p>Blendet Nennungen ein und aus. Die Nennungen werden rot gedruckt.</p>
  -->

  <h3 class="subtitle margin-top">Transkriptionen:</h3>

  <p>Die Transkriptionen erfolgen getreu der Handschrift. Zeilenumbrüche sind durch | markiert. Abkürzungen werden in Klammern aufgelöst. Es kommt ein Tagging-System zum Einsatz, das Eigenschaften des Originaltextes kennzeichnet (u.a. Hinzufügungen, Unterstreichungen, Korrekturen). Auf der Benutzeroberfläche wird dieses durch Farbkodierungen bzw. Auszeichnungen dargestellt (Umsetzung in Arbeit):
  </p>
  <ul class="margin-bottom-end">
      <li>Hinzufügungen: <app-tei-render-component [teiXmlString]="addExample"></app-tei-render-component></li>
      <li>Unterstreichungen: <app-tei-render-component [teiXmlString]="underlineExample"></app-tei-render-component> </li>
      <li>Korrekturen: in <app-tei-render-component [teiXmlString]="gbExample"></app-tei-render-component>; die ursprüngliche Form wird in einem Tooltip angezeigt, wenn mit dem Mauszeiger darüber gefahren wird.</li>
      <li>Text, der nicht von Gossembrot geschrieben ist: <app-tei-render-component [teiXmlString]="ngbExample"></app-tei-render-component>;</li>
      <li>Durchgestrichene Buchstaben/Wörter: <app-tei-render-component [teiXmlString]="delExmaple"></app-tei-render-component></li>
      <li>Rückgängig gemachte Durchstreichung: <app-tei-render-component [teiXmlString]="undelExample"></app-tei-render-component></li>
      <li>Eingriffe durch die Herausgeber: <app-tei-render-component [teiXmlString]="teiFragExampleHrsg"></app-tei-render-component></li>
      <li>Unleserliche Stellen:  je nach Anzahl der unlesbaren Buchstaben:
          <app-tei-render-component [teiXmlString]="teiFragExample"></app-tei-render-component>,
          <app-tei-render-component [teiXmlString]="teiFragExampleb"></app-tei-render-component> oder
          <app-tei-render-component [teiXmlString]="teiFragExamplec"></app-tei-render-component>
      </li>
      <li>Offensichtliche Fehler: Ergänzung durch Ausrufezeichen <app-tei-render-component [teiXmlString]="teiSicExample"></app-tei-render-component></li>
      <li>Von Gossembrot verwendete Symbole: Maniculae werden mit <app-tei-render-component [teiXmlString]="teiManiculaExample"></app-tei-render-component> umgesetzt; alle anderen Symbole einheitlich <app-tei-render-component [teiXmlString]="teiSymbolExample"></app-tei-render-component></li>
      <li>Von Gossembrot als Symbole verwendete Buchstaben <app-tei-render-component [teiXmlString]="teiBuchstabeAExample"></app-tei-render-component>,<app-tei-render-component [teiXmlString]="teiBuchstabeBExample"></app-tei-render-component>, ...</li>
      <li>Schlusszeichen 1: <app-tei-render-component [teiXmlString]="teiFinisExample"></app-tei-render-component></li>
      <li>Schlusszeichen 2: <app-tei-render-component [teiXmlString]="teiFinisFullExample"></app-tei-render-component></li>
  </ul>
</div>
