.osd-editor-container {
  background-color: var(--osd-background);
  width: 100%;
  height: calc(100% - var(--margin-small));
  // round edges
  border-radius: 10px;
  padding-bottom: var(--margin-small);
  overflow: hidden;
}

.loading-indicator {
  position: absolute;
  bottom: 1%;
  z-index: 100;
  display: flex;
  justify-content: center;
  width: 100%;
}

.loading-indicator mat-progress-bar {
  width: 98%;
}
