<section class="impressum-container meta-text">
    <h2 class="title">Impressum</h2>
    <p>Die auf der Plattform <i>gossembrot.unibe.ch</i> realisierte digitale Rekonstruktion der Bibliothek Sigmund Gossembrots ist ein Projekt der Universität Bern.</p>
    <p>Das Portal wurde in den Jahren 2021 bis 2026, gefördert vom Schweizerischen Nationalfonds, durch ein von Prof. Dr. Michael Stolz am Institut für Germanistik der Universität Bern geleitetes Projektteam erarbeitet.
    </p>
    <p>Projektadresse: Universität Bern, Institut für Germanistik, Länggassstr. 49, CH-3012 Bern, Schweiz.
    </p>
    <p>Ansprechpartner: Prof. Dr. Michael Stolz (<a href="mailto:michael.stolz@unibe.ch">michael.stolz[at]unibe.ch</a>)</p>
    <p>Die technische Realisierung erfolgte durch das Gossembrot-Projekt und das Data Science Lab (beide Universität Bern). Das Frontend der Webanwendung basiert auf dem Angular Framework. Die Webseite verwendet keinen Backend-Server zur Bereitstellung der angezeigten Daten. Sämtliche Daten sind in als SQLite-Datenbank in die Webseite integriert</p>
    <h2 class="title">Rechtliche Hinweise</h2>
    <h3 class="title">1. Allgemeine Hinweise</h3>
    <p>Die Plattform  <i>gossembrot.unibe.ch</i> kann ohne Registrierung und kostenlos besucht werden. Es werden keine personenbezogenen Daten wie Name, Adresse oder E-Mail erhoben. Durch die Nutzung dieser Website erklären Sie sich mit der Erhebung, Verarbeitung und Nutzung von Daten gemäß der nachfolgenden Beschreibung einverstanden.</p>
    <h3 class="title">2. Lokale Datenspeicherung</h3>
    <p>Die Webseite verwendet den localStorage Ihres Browsers zur lokalen Speicherung der Datenbank.</p>
    <h3 class="title">3. Keine Verwendung von Cookies oder Tracking</h3>
    <p>Die Plattform  <i>gossembrot.unibe.ch</i> verwendet keine Cookies, keine externen Tracking-Dienste und sammelt keine Aktivitäten außerhalb unserer eigenen Seiten.</p>
    <h3 class="title">4. Änderungen</h3>
    <p>Diese Datenschutzerklärung kann jederzeit angepasst werden, um aktuellen rechtlichen Anforderungen zu entsprechen oder Änderungen unserer Dienste umzusetzen. Es gilt jeweils die zum Zeitpunkt Ihres Besuchs veröffentlichte Version.</p>
    <h3 class="title">5. Lizenz</h3>
    <img
            [src]="ccByImg"
            alt="Creative Commons BY-NC-SA 4.0 Lizenz"
            class="cc-by-img"
    />
    <p>Alle Editionsinhalte (mit Ausnahme der Digitalisate) sind unter der Lizenz <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC-BY-NC-SA 4.0</a> zugänglich.</p>
    <h2 class="title">Bildnachweise</h2>
    <p>Die Bilddigitalisate werden dank der Kooperationen mit Bibliotheken und Archiven angezeigt, die dem Projektteam Bilddateien aus ihrem Bestand zur Verfügung gestellt haben. Die Rechte an den im Gossembrot-Portal angezeigten Bilddigitalisaten liegen bei den bestandshaltenden Institutionen. Entsprechend müssen Fragen zur Reproduktion und Weiterverwendung der Bilder an die bestandshaltenden Institutionen gerichtet werden. Bei Verweisen auf die angezeigten Bilddigitalisate sind jeweils die bestandshaltende Institution und das konkrete Exemplar (Signatur) anzugeben.</p>
    <h2 class="title">Zitierempfehlung</h2>
    <p>Gossembrot-Portal, eingerichtet von Michael Stolz in Zusammenarbeit mit einem Projektteam an der Universität Bern,  <i>gossembrot.unibe.ch</i> (Zugriff: [aktuelles Datum])</p>
</section>
