<div [class]="fullScreen ? 'vis-fullscreen' : 'vis-container'" #visContainer>
    <mat-card [class]="fullScreen ? 'vis-fullscreen' : 'svg-container'" >
        <!-- permanent tooltips -->
        <div class="tooltip-container" *ngIf="permanentTooltipsVisible && permanentTooltips.length && tooltipsVisible">
            <div *ngFor="let tt of permanentTooltips"
                 [style.top]="tt.position.y + 'px'"
                 [style.left]="tt.position.x + 'px'"
                 class="tooltip nodeTooltip"
                 [innerHTML]="tt.content"
            ></div>
        </div>

        <!-- hover tooltip Container -->
        <div *ngIf="(hoverTooltipVisible || !tooltipsVisible) && hoverTooltipType === 'nodeTooltip'"
             [style.top]="hoverTooltipPosition.y + 'px'"
             [style.left]="hoverTooltipPosition.x + 'px'"
             class="tooltip"
             [class]="hoverTooltipType"
             [innerHTML]="hoverTooltipContent"
        >
        </div>
        <div *ngIf="hoverTooltipVisible && ['textTooltip', 'linkTooltip'].includes(hoverTooltipType)"
             [style.top]="hoverTooltipPosition.y + 'px'"
             [style.left]="hoverTooltipPosition.x + 'px'"
             class="tooltip"
             [class]="hoverTooltipType"
             [innerHTML]="hoverTooltipContent"
        >
        </div>
        <div #chart class="chart">

        </div>
        <button mat-icon-button class="fullscreen-button" (click)="toggleFullscreen()"
            [matTooltip]="!fullScreen ? 'Vollbild' : 'Vollbild verlassen'">
            <mat-icon *ngIf="!fullScreen">fullscreen</mat-icon>
            <mat-icon *ngIf="fullScreen">fullscreen_exit</mat-icon>
        </button>
        <button mat-icon-button class="screenshot-button" (click)="takeScreenshot()"
                matTooltip="Als Bild herunterladen"
            >
            <mat-icon>file_download</mat-icon>
        </button>
        <button mat-icon-button class="toggle-legend-button" (click)="toggleLegend()"
                [matTooltip]="legendVisible ? 'Legende ausblenden' : 'Legende einblenden'">
            <mat-icon *ngIf="legendVisible">visibility_off</mat-icon>
            <mat-icon *ngIf="!legendVisible">visibility</mat-icon>
        </button>
        <button mat-icon-button class="toggle-tooltip-button" (click)="toggleTooltips()"
                [matTooltip]="tooltipsVisible ? 'Tooltips ausblenden' : 'Tooltips einblenden'">
            <mat-icon *ngIf="tooltipsVisible">info_outline</mat-icon>
            <mat-icon *ngIf="!tooltipsVisible">info</mat-icon>
        </button>
        <div class="legend-container" *ngIf="legendVisible">
            <button mat-icon-button class="close-legend-button" (click)="hideLegend()"
                    matTooltip="Legende schließen">
                <mat-icon class="close-legend-icon">close</mat-icon>
            </button>
            <div class="legend-item" *ngFor="let item of legendItems">
                <span class="legend-color" [style.background]="item.color"></span>
                <span class="legend-label">{{item.label}}</span>
            </div>
        </div>
    </mat-card>
  <div class="data-container" *ngIf="!fullScreen">
    <app-visualisation-data></app-visualisation-data>
  </div>
</div>
